#editor-container {
  background-color: #FBFBFB;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

app-drawing-surface {
  position: absolute;
  left: 100px;
  top: 125px;
}

app-grid{
  position: absolute;
  margin: 4px;
  top: 4px;
  left: 4px;
  pointer-events: none;
}

mat-spinner{
  top: 50%;
  left: 50%;
}

#editor-game-area {
  margin-left: 60px;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
}