<div id="editor-container" (mouseup)='handleMouseEvent($event)'>
  <app-status-bar quit previousPage=""></app-status-bar>
  <app-toolbar #toolbar id='toolbar' [(currentToolType)]=currentToolType
    (editorBackgroundChanged)="changeBackground($event)" (mouseleave)="setToolbarState(false)"
    (guideButtonClicked)="openGuide()" (mouseenter)='setToolbarState(true)'>
  </app-toolbar>
  
  <div *ngIf="editorService.isFreeEdit; then freeEditor else gameEditor"></div>
  <ng-template #gameEditor>
    <div id="editor-game-area">
      <div id="game-area-infos">
        <app-gamemode-title gamemode="classique"></app-gamemode-title>
        <app-drawing-surface #drawingSurface [color]="surfaceColor" [width]="surfaceWidth" [height]="surfaceHeight"
          (dblclick)="handleMouseEvent($event)" (mousedown)="handleMouseEvent($event)" (click)="handleMouseEvent($event)"
          (wheel)="handleMouseEvent($event)" (mousemove)="handleMouseEvent($event)"
          (mouseleave)="handleMouseEvent($event)" (contextmenu)="handleMouseEvent($event)">
          <app-grid [width]=surfaceWidth [height]=surfaceHeight></app-grid>
        </app-drawing-surface>
        <div id="game-area-player">
          <div id="game-area-player-text">{{hint}}&nbsp;</div>
          <div id="game-area-player-name">{{gameService.wordToDraw}}</div>
        </div>
        <div id="game-area-timer">
          <mat-icon [inline]="true">timer</mat-icon>
          <div id="game-area-timer-value">{{timeLeft}}</div>
        </div>
      </div>
      <div id="game-area-teams-container">
        <div id="game-area-teams">
          <app-team [team]="gameService.teams[0]" [scoreIndex]="0" name="Équipe 1"></app-team>
          <app-team [team]="gameService.teams[1]" [scoreIndex]="1" name="Équipe 2" ennemy></app-team>
        </div>
      </div>
      <app-chat></app-chat>
    </div>
    <div id="game-area-teams-container">
      <div id="game-area-teams">
        <app-team [team]="gameService.teams[0]" [scoreIndex]="0" [name]="splitTeams ? 'Équipe 1' : 'Joueurs'" [hideScore]="!splitTeams"></app-team>
        <ng-container *ngIf="splitTeams">
          <app-team [team]="gameService.teams[1]" [scoreIndex]="1" name="Équipe 2" ennemy [hideScore]="false"></app-team>
        </ng-container>
      </div>
    </div>
  </ng-template>

  <ng-template #freeEditor>
    <div id="editor-game-area">
      <div id="game-area-infos">
        <app-gamemode-title gamemode="classique"></app-gamemode-title>
        <app-drawing-surface #drawingSurface [color]="surfaceColor" [width]="surfaceWidth" [height]="surfaceHeight"
          (dblclick)="handleMouseEvent($event)" (mousedown)="handleMouseEvent($event)" (click)="handleMouseEvent($event)"
          (wheel)="handleMouseEvent($event)" (mousemove)="handleMouseEvent($event)"
          (mouseleave)="handleMouseEvent($event)" (contextmenu)="handleMouseEvent($event)">
          <app-grid [width]=surfaceWidth [height]=surfaceHeight></app-grid>
        </app-drawing-surface>
        <button (click)="saveDrawing()">Enregistrer</button>
      </div>
    </div>
  </ng-template>
</div>