<div id="editor-container" (mouseup)='handleMouseEvent($event)'>
  <app-toolbar #toolbar id='toolbar'
    [(currentToolType)]=currentToolType
    (editorBackgroundChanged)="changeBackground($event)"
    (mouseleave)="setToolbarState(false)"
    (guideButtonClicked)="openGuide()"
    (chooseExportSaveButtonClicked)="openChooseExportSave()"
    (mouseenter)='setToolbarState(true)'
  ></app-toolbar>
  <app-drawing-surface #drawingSurface [color]="surfaceColor" [width]="surfaceWidth" [height]="surfaceHeight"
    (dblclick)="handleMouseEvent($event)"
    (mousedown)="handleMouseEvent($event)"
    (click)="handleMouseEvent($event)"
    (wheel)="handleMouseEvent($event)"
    (mousemove)="handleMouseEvent($event)"
    (mouseleave)="handleMouseEvent($event)"
    (contextmenu)="handleMouseEvent($event)"
    (shapeClicked)="shapeClicked($event)"
    (shapeRightClicked)="shapeClicked($event, true)"
  >
	  <app-grid
			  [width]=surfaceWidth
			  [height]=surfaceHeight
	  ></app-grid>
  </app-drawing-surface>
  <mat-spinner *ngIf=loading [diameter]=50></mat-spinner>
</div>

