<app-abstract-modal>
  <mat-sidenav-container content>
    <mat-sidenav #sidenav mode="side" style="text-align: center;">
      <div id="mat-sidenav-cat">
        <button mat-button class="btn-cat" (click)="selectSubject(subjects.Welcome)">Bienvenue</button>
        <p></p>
        <mat-accordion>
          <button mat-button class="btn-title" (click)="panelOpenState1 = !panelOpenState1">Outils</button>
          <mat-expansion-panel [expanded]="panelOpenState1" (closed)="panelOpenState1=false">
            <div>
              <mat-divider></mat-divider>
              <p></p>
              <button mat-button class="btn-cat" (click)="selectSubject(subjects.Pen)">Crayon</button>
              <p></p>
              <mat-divider></mat-divider>
              <button mat-button class="btn-cat" (click)="selectSubject(subjects.Eraser)">Efface</button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <button mat-icon-button id="menu-button" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div [ngSwitch]="selectedSubject" id="main_content">
        <div *ngSwitchCase="subjects.Welcome">

          <div class="header">
            <h1>Guide utilisateur</h1>
          </div>
          <mat-divider></mat-divider>
          <mat-list id="welcomeContent" >
            <mat-list-item>
              <p> Bienvenue au guide utilisateur de Polydessin. Accélérez vos capacités de conception en faisant défiler la table des matières à votre gauche et découvrez comment utiliser chacune de nos fonctionnalités à leur plein potentiel.
              </p>
            </mat-list-item>

          </mat-list>

        </div>
        <div *ngSwitchCase="subjects.Pen">

          <div class="header">
            <h1>Crayon</h1>
          </div>
          <mat-divider></mat-divider>
          <mat-list id="penContent" >
            <mat-list-item>

              <div class="mat-list-text">
                <p>
                  Description:
                </p>
                <p>
                  Dessiner librement et simplement sur la surface de dessin!
                  Cet outil vous permet de laisser place à votre imagination et tracer une ligne de taille et couleur ajustable sans assistance ou restriction.
                </p>

                <p>
                  -
                </p>
                <p>
                  Utilisation:
                </p>
                <p>
                  À l’appui du bouton principal (bouton de gauche) de votre appareil de sélection, l’outil commencera à dessiner! Tenir enfoncé pour une trace allongée.
                  Pour y accéder avec le clavier, tapez sur la touche 'i'.
                </p>
                <p>
                  -
                </p>
                <p>
                  Propriétés:
                </p>
                <p>
                  Épaisseur du trait - Il est possible de modifier l’épaisseur du trait à l’aide de la fenêtre modale ou « side-bar » d’outils.
                  Vous n’avez qu’à sélectionner l’icône <mat-icon>edit</mat-icon> et modifier la valeur apparaissant sous la forme d’une glissière ou d’une entrée numérique.
                </p>
                <p>
                  Couleur du trait – Il est possible de modifier la couleur du trait en modifiant la couleur principale du sélectionneur de couleur.
                </p>
              </div>
            </mat-list-item>
          </mat-list>

        </div>
        <div *ngSwitchCase="subjects.Color">
          <div class="header">
            <h1>Sélecteur de couleurs</h1>
          </div>
          <mat-divider></mat-divider>
          <mat-list id="colorContent" >
            <mat-list-item style="display: block;">
              <div class="mat-list-text">
                <p>
                  Description:
                </p>
                <p>
                  Cet outil vous permet de sélectionner la couleur primaire et secondaire utilisée pour les outils de dessin.
                </p>

                <p>
                  -
                </p>
                <p>
                  Utilisation:
                </p>
                <p>
                  Pour modifier la couleur principale ou secondaire, il vous suffit d’appuyer sur l’icône du sélectionneur de couleur et de traîner votre pointeur sur la couleur désirée.
                  Il est important de confirmer votre choix en appuyant sur le bouton « Confirmer ».
                  La couleur par défaut est la couleur primaire.
                  Pour changer la couleur sélectionnée, appuyez sur l’icône <mat-icon>swap_horiz</mat-icon>.
                </p>
                <p>
                  -
                </p>
                <p>
                  Propriétés:
                </p>
                <p>
                  Valeurs alphanumériques
                  En plus de pouvoir pointer la couleur désirée, il est possible de modifier la couleur avec les valeurs alphanumériques en hexadécimal.
                  L’entrée doit être comprise entre 00 et ff (0 et 255) pour être valide. Confirmer les changements.
                </p>
                <p>
                  Modifier la couleur d’arrière-plan
                  Pour modifier la couleur de la surface de dessin, sélectionnez d’abord une couleur, puis appuyez sur le bouton « Sélectionner comme couleur de fond ».
                  Confirmer les changements.
                </p>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
        <div *ngSwitchCase="subjects.Eraser">
          <div class="header">
            <h1>Efface</h1>
          </div>
          <mat-divider></mat-divider>
          <mat-list id="eraserContent" >
            <mat-list-item style="display: block;">
              <div class="mat-list-text">
                <p>
                  Description:
                </p>
                <p>
                  Effacez vos erreurs!
                  Cet outil vous permet d'effacer les traits et formes qui ne vous plaisent plus.
                <p>
                  -
                </p>
                <p>
                  Utilisation:
                </p>
                <p>
                  À l’appui du bouton principal (bouton de gauche) de votre appareil de sélection, l’outil commencera à effacer! Tenir enfoncé pour effacer un élément du dessin.
                  Pour y accéder avec le clavier, tapez sur la touche 'e'.
                </p>
                <p>
                  -
                </p>
                <p>
                  Propriétés:
                </p>
                <p>
                  Taille de l'efface - Il est possible de modifier la taille de l'efface à l’aide de la fenêtre modale ou « side-bar » d’outils.
                  Vous n’avez qu’à sélectionner l’icône <mat-icon>delete_outline</mat-icon> et modifier la valeur «  Taille de l'efface » apparaissant sous la forme d’une glissière ou d’une entrée numérique.
                </p>
              </div>
            </mat-list-item>
          </mat-list>

        </div>
        <div *ngSwitchCase="subjects.Reinitialisation">

          <div class="header">
            <h1>Réinitialiser le dessin</h1>
          </div>
          <mat-divider></mat-divider>
          <mat-list id="reContent" >
            <mat-list-item>
              <p>
                Pour réinitialiser le dessin, il suffit de taper sur les touches ctrl+o.
              </p>
            </mat-list-item>

          </mat-list>

        </div>
        <mat-divider></mat-divider>
      </div>

      <div>
        <button mat-button id="prevButton" (click)="previousSubject()"
          [disabled]='disablePreviousButton'
        >précédent</button>
        <button mat-button id="nextButton" (click)="nextSubject()"
          [disabled]='disableNextButton'
        >suivant</button>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>

</app-abstract-modal>
