@import "../../../../../assets/globalTheme";
mat-sidenav-container {
 min-height: 100%;
}
mat-sidenav, mat-sidenav-content {
 padding: 16px;
}
mat-sidenav-content {
  background-color: #ffffff;
}
mat-sidenav {
 width: 250px;
 min-height: 90%;
}
#main_content {
 margin-bottom: 75px;
}
#prevButton {
 float: left;
 left: 10px;
 bottom: 50px;
}
#nextButton {
 float: right;
 right: 10px;
 bottom: 50px;
}
#mat-sidenav-cat {
  max-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
}

.mat-expansion-panel-header{
  font-weight: 500;
}
#mat-sidenav-cat > mat-accordion {
  width: 100%;
}
.btn-title {
  height: 48px;
 width: 100%;
 font-weight: 500;
 text-align: initial;
}
.btn-cat {
  height: 48px;
 width: 100%;
 font-weight: 100;
 text-align: initial;
}
.header {
  font-family: lato, monospace;
  font-size: 2.2em;
  font-style: normal;
  align-items: center;
  text-align: center;
  height: 100px;
}
#welcomeContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
#penContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
#lineContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 480px;
}
#brushContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 450px;
}
#rectangleContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}
#colorContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}
#sprayContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 420px;
}
#eraserContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 380px;
}
#pipetteContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 330px;
}
#selectionContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 330px;
}
#ellipseContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}
#polygoneContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 410px;
}
#exportationContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 350px;
}
#saveContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
#galerieContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 275px;
}

#reContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 275px;
  min-width: 1000px;
}
#emailContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 350px;
}
#fillerContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
