<div id="toolbar-container" [style.top]="electronContainer && '30px'" [style.height]="electronContainer && 'calc(100vh - 30px)'">
  <div id="toolbar-top-buttons">
    <icon-button *ngFor='let tool of toolTypeKeys' id='{{toolButtonId(tool)}}' [tooltipName]="toolbarNames.get(tool)"
      iconName="{{toolbarIcons.get(tool)}}" [selected]="currentToolType === tool" (click)="selectTool(tool)">
    </icon-button>
  </div>
  <div id="toolbar-middle-buttons">
    <icon-button id="toolbar-grid-button"
      [iconName]="editorService.gridProperties.visibility.value === 'Visible' ? 'grid_on':'grid_off'"
      tooltipName="Grille" (click)="editGrid()">
    </icon-button>
    <div id='toolbar-color-buttons'>
      <div id="toolbar-primary-color" [style.background-color]="primaryColor.hexString"
        (click)="editColor(SelectedColorType.primary)" [ngStyle]="{'z-index': 1}">
      </div>
      <div id="toolbar-secondary-color" [style.background-color]="secondaryColor.hexString"
        (click)="editColor(SelectedColorType.secondary)" [ngStyle]="{'z-index':drawerOpened && selectedColor ? 2 : 0}">
      </div>
    </div>
    <icon-button id="swap-button" iconName="swap_horiz" (click)="editorService.colorsService.swapColors()">
    </icon-button>
  </div>
  <div id="toolbar-bottom-buttons">
    <icon-button id="redo" iconName="redo" tooltipName="Rétablir" [disable]="!editorService.commandReceiver.canRedo"
      (click)="redo()">
    </icon-button>
    <icon-button id="undo" iconName="undo" tooltipName="Annuler" [disable]="!editorService.commandReceiver.canUndo"
      (click)="undo()">
    </icon-button>
    <icon-button id="help-button" iconName="help" tooltipName="Guide d'utilisation" (click)="openGuide()"></icon-button>
  </div>
</div>
<mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <mat-drawer-content [ngSwitch]="currentToolType">
      <div *ngIf=!toolbarType>
        <app-pen-toolbar *ngSwitchCase='ToolType.Pen' class='toolbar-tool-section'></app-pen-toolbar>
        <app-eraser-toolbar *ngSwitchCase='ToolType.Eraser' class='toolbar-tool-section'></app-eraser-toolbar>
      </div>
      <div *ngIf='toolbarType === ToolbarType.colorPicker' [ngSwitch]="SelectedColorType" class="toolbar-tool-section">
        <h3 class="toolbar-option-section">Options du color picker</h3>
        <label *ngSwitchCase="SelectedColorType.primary">Couleur primaire</label>
        <label *ngSwitchCase="SelectedColorType.secondary">Couleur secondaire</label>
        <app-color-picker [isVertical]=true [showHistory]=true #colorPicker [color]="color"
          (colorChanged)="handleColorChanged($event)" (closed)='close()'></app-color-picker>
      </div>
      <div *ngIf='toolbarType === ToolbarType.grid'>
        <app-grid-toolbar class='toolbar-tool-section'></app-grid-toolbar>
      </div>
    </mat-drawer-content>
  </mat-drawer>
</mat-drawer-container>