.chat-message {
  padding: 12px 15px;
  margin: 10px 25px;

  background-color: white;
  border-radius: 0 10px 10px 10px;
}

.chat-message-content {
  color: #03071e;
}

.chat-message-user {
  background-color: #2196f3;
  border-radius: 10px 0 10px 10px;
}

.chat-message-content-user {
  color: white;
}
