.chat-message {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  margin: 10px 0px;
}

.chat-message-author, .chat-message-timestamp {
  font-size: 12px;
  color: #696969;
}

.chat-message-author {
  margin-bottom: 4px;
  margin-left: 8px;
  align-self: flex-start;
}

.chat-message-timestamp {
  margin-top: 4px;
  margin-right: 8px;
  align-self: flex-end;
}

.chat-message-content {
  display: flex;
  background-color: white;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0 10px 10px 10px;
  padding: 12px 15px;

  color: #03071e;
  word-wrap: break-word;
}

.chat-message-content-user {
  background-color: #2196f3;
  border-radius: 10px 0 10px 10px;
  color: white;
}
