@use '../login.scss' as *;

#login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

#login-page-title {
  font-size: 24px;
  font-weight: 500;

  margin: 15px;
}

#login-page-image {
  height: 85px;
}

.input {
  width: $input-width;
}

#login-button {
  width: $input-width;
}

#login-links {
  width: $input-width;
  margin-top: 15px;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
}

#login-links > div {
  cursor: pointer;
}
