<div id="login-page" [style.top]="electronContainer && '30px'" [style.height]="electronContainer && 'calc(100vh - 30px)'">
  <img id="login-page-image" src="assets/icon.png" />
  <div id="login-page-title">Bienvenue sur PolyDessin</div>
  <app-username-input class="input" [(value)]="username" (keyup.enter)="login()">Nom d'utilisateur</app-username-input>
  <app-password-input class="input" [(value)]="password" (keyup.enter)="login()">Mot de passe</app-password-input>
  <button id="submit-button" mat-raised-button color="primary" (click)="login()">Se connecter</button>
  <div id="login-links">
    <div routerLink="/register">Créer un compte</div>
  </div>
</div>