<div id="status-bar-container-account">
  <ng-container *ngIf="quit !== undefined">
    <button mat-flat-button id="quit-game-button" color="warn" class="menu-button back-button leave-button" (click)="navigateBack()">
      <mat-icon class="menu-button-icon leave-button-icon">logout</mat-icon>
      Quitter
    </button>
  </ng-container>
  <ng-container *ngIf="back !== undefined">
    <button mat-flat-button class="menu-button" (click)="navigateBack()">
      <mat-icon class="menu-button-icon">arrow_back_ios</mat-icon>
      Retour
    </button>
  </ng-container>
  <div id="account-container">
    <app-avatar id="account-avatar" [username]="username" mainUser [size]="30" [fontSize]="18"></app-avatar>
    <div id="account-username">{{username}}</div>
  </div>
  <div id="status-bar-filler"></div>
  <ng-container *ngIf="disableDashboard === undefined">
    <button mat-flat-button id="dashboard-button" class="menu-button" [routerLink]="'/account'">
      <mat-icon class="menu-button-icon">manage_accounts</mat-icon>
      Tableau de bord
    </button>
  </ng-container>
</div>