<div id="chat-container">
  <div id="chat-header">
    <img id="chat-logo" src="assets/chat.png" />
    <h1>Chat</h1>
  </div>
  <div id="chat-messages">
    <div class="chat-message-peer">
      <div class="chat-message-peer-content">Hahaha t'es tellement bon</div>
    </div>
    <div class="chat-message-user" *ngFor="let message of messages">
      <div class="chat-message-user-content">{{message.content}}</div>
    </div>
  </div>
  <div id="chat-writer">
    <button id="emoji-button" mat-icon-button>
      <mat-icon>sentiment_satisfied_alt</mat-icon>
    </button>
    <input type="text" id="message-textbox"/>
    <button id="send-button" mat-icon-button (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
