<div id="chat-container">
  <div id="chat-header">
    <img id="chat-logo" src="assets/chat.png" />
    <h1 id="chat-text">Chat</h1>
  </div>
  <app-chat-tabs></app-chat-tabs>
  <div id="chat-messages">
    <ng-container *ngFor="let message of chatService.messages">
      <ng-container *ngIf="!isSystem(message)">
        <chat-message [message]="message"
          [ngStyle]="{'align-self': message.senderUsername === userService.username && 'flex-end'}"></chat-message>
      </ng-container>
      <ng-container *ngIf="isSystem(message)">
        <system-message [message]="message"></system-message>
      </ng-container>
    </ng-container>
  </div>
  <div id="chat-writer" [style.background-color]="guessing ? correctColor : 'white'">
    <div id="emoji-section-container">
      <button id="emoji-button" mat-icon-button (click)="toggleEmojiMart()">
        <mat-icon [style.color]="guessing ? 'white' : iconColor">sentiment_satisfied_alt</mat-icon>
      </button>
      <ng-container *ngIf="emojiMartOpen">
        <div id="emoji-picker-anchor">
          <emoji-mart id="emoji-picker" (emojiClick)="addEmoji($event)"></emoji-mart>
        </div>
      </ng-container>
    </div>
    <button id="guess-button" mat-icon-button (click)="toggleGuessMode()">
      <mat-icon [style.color]="guessing ? 'white' : iconColor">lightbulb</mat-icon>
    </button>
    <input type="text" id="message-textbox" [style.color]="guessing ? 'white' : 'black'" [(ngModel)]="inputValue" (keyup.enter)="sendMessage()" placeholder="Aa" />
    <ng-container *ngIf="length > maxLength">
      <div id="message-length">{{ length }}/{{ maxLength }}</div>
    </ng-container>
    <button id="send-button" mat-icon-button (click)="sendMessage()">
      <mat-icon [style.color]="guessing ? correctColor : iconColor">send</mat-icon>
    </button>
  </div>
</div>