.menu-button {
  color: #2F2F2F;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.05);

  transition: transform 0.1s;

  &:hover {
    transform: translateY(-2px);
  }
}

.menu-button-icon {
  color: #2F2F2F;
}

.menu-button-main-icon {
  margin-right: 35px;
}

.menu-main-button {
  display: flex;
  align-items: center;
  width: 265px;
  height: 55px;

  margin: 10px 0px;
}