<app-abstract-modal>
  <div header>
      Ajouter une paire mot-image en fournissant un mot et une photo
  </div>
  <div content id="content">
    <app-custom-input class="input" [(value)]="word">Mot à deviner</app-custom-input>

    <img [src]="imageString" width="450" id="uploaded-image">

    <canvas #preview width="450" height="450"></canvas>

  </div>
  <div actions>
      <button id="btn-preview" mat-stroked-button (click)="showPreview()">
        <mat-icon id="btn-image-icon">edit</mat-icon>
      </button>
      <button id="btn-image" mat-stroked-button>
        <label for="upload-input" id="btn-image-label">
          <mat-icon id="btn-image-icon">image</mat-icon>
        </label>
      </button>
    <input (change)="acceptFile($event.target.files)" type="file" id="upload-input" accept="image/png, image/jpeg"/>
    <button id="btn-confirm" mat-stroked-button (click)="upload()">
      Enregistrer
    </button>
  </div>

</app-abstract-modal>