#content {
  margin-top: 30px;
}

.input {
  width: 30%;
}

#uploaded-image {
  object-fit: contain;
  object-position: top;
}

#actions > button {
  margin-left: 10px;
}

#upload-input {
  display: none;
}