#content {
  margin-top: 30px;
}

#uploaded-image {

}

#btn-image {
  padding: 0;
  height: 30px;
  width: 30px;
}

#btn-image-icon {
  font-size: 30px;
  height: 30px;
  width: 30px;
}

#upload-input {
  display: none;
}