#navbar-container {
  position: fixed;
  left: 0px;
  z-index: 1;
  
  display: flex;
  height: 100vh;
  
  background-color: white;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.01);
  
  transition: left 0.5s;
}

#navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  width: 265px;
}

#navbar-toggler {
  height: 100%;
  padding: 0px;
  min-width: 0px;
  width: 35px;
  border-radius: 0px;
}

#navbar-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  
  font-size: 48px;
  color: white;
}

#navbar-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 10px 0px;
}

#navbar-user-name {
  font-size: 24px;
  color: #2F2F2F;
}

#navbar-user-username {
  font-size: 16px;
  color: #969696
}

.navbar-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#navbar-top-buttons {
  flex-grow: 1;
}

#navbar-middle-buttons {
  margin-top: 25px;
  flex-grow: 4;
}

.navbar-button {
  text-align: left;
  height: 55px;
  width: 100%;
  font-size: 16px;
  color: #2F2F2F;
  border-radius: 0px;
}

.navbar-button-icon {
  margin: 0px 10px 0px 5px;
  color: #2F2F2F;
}

#logout-button {
  color:white;
}

#logout-icon {
  color: white;
}
