<app-abstract-modal>
  <div content>
    <div id="main-container">
      <div id="form-container">
        <img id="preview" [src]="previewURL">
        <form [formGroup]="formGroup"></form>
        <app-name-input [formGroup]="formGroup" [(value)]="name" >Nom du dessin</app-name-input>
        <div id="tag-container" *ngFor="let tag of tags; index as i">
          <app-tag-input [formGroup]="formGroup" [(value)]="tags[i].value" >Tag</app-tag-input>
        </div>
        <div id="tag-button-container">
          <button id="btn-remove" mat-icon-button (click)="removeTag()">
            <mat-icon>remove</mat-icon>
          </button>
          <button id="btn-add" mat-icon-button (click)="addTag()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div actions>
    <button [disabled]="formGroup.invalid" id="btn-save" mat-stroked-button (click)="saveDrawing()">
      Sauvegarder
    </button>
  </div>
</app-abstract-modal>
