#dashboard-container {
  overflow-y: auto;
  padding: 50px 50px 25px 50px;
}

.dashboard-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.account-section-title {
  font-size: 24px;
  font-weight: 700;
  color: #2F2F2F;
}