<app-account-section title="Statistiques">
  <div class="dashboard-statistic-container">
    <div class="dashboard-statistic-title">Nombre de parties jouées</div>
    <div class="dashboard-statistic-value">51</div>
  </div>
  <div class="dashboard-statistic-container">
    <div class="dashboard-statistic-title">Pourcentage de victoires</div>
    <div class="dashboard-statistic-value">21%</div>
  </div>
  <div class="dashboard-statistic-container">
    <div class="dashboard-statistic-title">Nombre d'heures à jouer</div>
    <div class="dashboard-statistic-value">25h</div>
  </div>
  <div class="dashboard-statistic-container">
    <div class="dashboard-statistic-title">Nombre d'heures de connexion</div>
    <div class="dashboard-statistic-value">38h</div>
  </div>
</app-account-section>
<app-account-section title="Historique des parties jouées">
  <apx-chart
  id="dashboard-wl-chart"
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [xaxis]="chartOptions.xaxis"
  [title]="chartOptions.title"
  ></apx-chart>
</app-account-section>