<div id="dashboard-container">
  <div class="dashboard-section">
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
  </div>
  <div class="dashboard-section">
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
    <div class="account-section-title">Statistiques</div>
  </div>
</div>