<app-account-section title="Statistiques">
  <div class="dashboard-statistic-container">
    <div class="dashboard-statistic-title">Nombre de parties jouées</div>
    <div class="dashboard-statistic-value">{{gamesPlayed}}</div>
  </div>
  <div class="dashboard-statistic-container">
    <div class="dashboard-statistic-title">Pourcentage de victoires</div>
    <div class="dashboard-statistic-value">{{winRatio * 100}}%</div>
  </div>
  <div class="dashboard-statistic-container">
    <div class="dashboard-statistic-title">Nombre d'heures jouées</div>
    <div class="dashboard-statistic-value">{{playTime}}h</div>
  </div>
  <div class="dashboard-statistic-container">
    <div class="dashboard-statistic-title">Nombre d'heures de connexion</div>
    <div class="dashboard-statistic-value">{{connectionTime}}h</div>
  </div>
</app-account-section>
<app-account-section title="Historique des parties jouées">
  <apx-chart
  id="dashboard-wl-chart"
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [xaxis]="chartOptions.xaxis"
  [title]="chartOptions.title"
  ></apx-chart>
</app-account-section>