<div id="lobby-container" [style.top]="electronContainer && '30px'" [style.height]="electronContainer && 'calc(100vh - 30px)'">
  <div id="menu-container">
    <app-status-bar quit previousPage=""></app-status-bar>
    <div id="content-container">
      <div id="options-container">
        <app-gamemode-title></app-gamemode-title>
        <button id="invite-button" mat-flat-button class="menu-button menu-main-button" (click)="copyInviteCode()" disabled>
          <mat-icon class="menu-button-icon menu-button-main-icon">link</mat-icon>
          Lien d'invitation
        </button>
        <button id="start-button" color="warn" mat-flat-button class="menu-button menu-main-button" (click)="startGame()">
          Lancer la partie
          <mat-icon id="start-button-icon" class="menu-button-icon menu-button-main-icon">arrow_forward</mat-icon>
        </button>
      </div>
      <div id="players-container">
        <app-team [team]="gameService.teams[0]" name="Équipe 1"></app-team>
        <app-team [team]="gameService.teams[1]" name="Équipe 2" ennemy></app-team>
      </div>
    </div>
  </div>
</div>