.chat-room-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0px;
  height: 75px;
  background-color: #2F2F2F;
  font-size: 18px;
  color: white;
  font-weight: 500;
  transition: background-color 0.5s;
  
  &:hover {
    background-color: #353535;
  }
}

.chat-room-buttons-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.chat-room-button {
  background-color: #424242;
  margin: 0px 5px;
  transition: background-color 0.5s;
}

.chat-friend-end-padding {
  width: 15px;
}

#chat-room-name {
  margin: 0px 10px 0px 25px;
}