#home-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: calc(100vh - 30px);
}

#menu-container {
  display: flex;
  flex-direction: column;

  min-width: 200px;
  width: 400px;

  background-color: #FBFBFB;
  border-radius: 10px;
}

#menu-container-account {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  border-radius: 10px 10px 0px 0px;
  background-color: #F8F8F8;

  & > * {
    margin: 12px;
  }
}

#account-container {
  display: flex;
  align-items: center;
  font-weight: 500;
}

#account-image {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  margin-right: 5px;

  background-color: cadetblue;
  border-radius: 100%;
  color: white;
  font-weight: 400;
}

#menu-container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 36px;

  & > img {
    width: 75px;
    height: 75px;
  }

  & > div {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 500;
  }
}

#menu-container-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 36px 0px;
}

.home-button {
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.05);

  transition: translate 0.1s;

  &:hover {
    translate: 0px -2px;
  }
}

.home-main-button {
  width: 265px;
  height: 55px;

  margin: 10px 0px
}