#main-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: calc(100vh - 30px);
}

#menu-container {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 25px;
  min-width: 200px;
  width: 500px;
}

#menu-container-title {
  text-align: center;
  margin-top: 50px;
}

#menu-container-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 50px;
}

#menu-container-buttons > button {
  margin-bottom: 10px;
  width: 200px;
  color: white;
  background-color: cornflowerblue;
}

#menu-container-buttons > button:disabled {
  background-color: lightgrey;
}
