<div id="home-container" [style.top]="electronContainer && '30px'" [style.height]="electronContainer && 'calc(100vh - 30px)'">
  <div id="menu-container">
    <app-status-bar></app-status-bar>
    <div id="menu-container-title">
      <img src="assets/icon.png">
      <div>PolyDessin</div>
    </div>
    <div id="menu-container-buttons">
      <button mat-flat-button class="menu-button menu-main-button" [routerLink]="'edit'">
        <mat-icon class="menu-button-icon menu-button-main-icon">palette</mat-icon>
        Créer une partie privée
      </button>
      <button mat-flat-button class="menu-button menu-main-button">
        <mat-icon class="menu-button-icon menu-button-main-icon">group</mat-icon>
        Rejoindre une partie
      </button>
      <button mat-flat-button class="menu-button menu-main-button" [routerLink]="'lobby'">
        <mat-icon class="menu-button-icon menu-button-main-icon">format_list_bulleted</mat-icon>
        Liste des parties
      </button>
      <button mat-flat-button class="menu-button menu-main-button">
        <mat-icon class="menu-button-icon menu-button-main-icon">insert_photo</mat-icon>
        Mot-image
      </button>
      <button mat-flat-button class="menu-button menu-main-button">
        <mat-icon class="menu-button-icon menu-button-main-icon">help</mat-icon>
        Guide utilisateur
      </button>
    </div>
  </div>
</div>
